// variables
$containerWidth: 1280px;
$gap: 15px;
$colCount: 12;
$colWidth: 100% / $colCount;

* {
    box-sizing: border-box;
}

.container {
    max-width: $containerWidth;
    width: 100%;
    margin: 0 auto;
    padding: 0 $gap;
}

/* ba-grid */

.ba-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gap;
    margin-right: -$gap;
}

.ba-row+.ba-row {
    margin-top: 1rem;
}

[class^='ba-col'] {
    padding-left: $gap;
    padding-right: $gap;
    width: 100%;
}

@for $i from 1 through $colCount {
    .ba-col-#{$i} { width: $colWidth * $i; }
  }

/* ba-common */

.ba-text-center {
    text-align: center;
}

.ba-text-left {
    text-align-last: left;
}

.ba-text-right {
    text-align: right;
}

.ba-text-justify {
    text-align: justify;
}